<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Radius Log In</title>
</head>

<body>
    <p>Login with Radius (upc.edu realm)</p>
    <form action="/login_radius" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
        <div>
            <input type="submit" value="Log In" />
        </div>
    </form>
</body>

</html>